p {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    font-weight: 400;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.section-body {
    text-align: center;
}