/* page setup */

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-weight: 400;
}

/* main styling */

p {
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.section-body {
    text-align: center;
}


/* footer styles */


footer {
    font-size: 11px;
    line-height: 20px;
}