main {
    margin: 80px 300px;
}

.image-div {
    /* float: left; */
    margin: 0 -100px;
}

.main-articles {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
    font-weight: 400;
}

.main-articles h3 {
    margin: 0 10px;
}

.mini-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.mini-flex-container-top {
    display: flex;
}

.mini-flex-container-bottom {
    display: flex;
}

caption {
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    line-height: 30px;
    color: #777;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.section-body {
    text-align: center;
}

.mini-articles {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.menu {}

.news-menu {
    width: 75%;
    float: left;
}

.popular-menu {
    width: 25%;
    float: left;
}

.base-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}